{% extends 'base.html' %}

{% block title %}
    Создание опроса
{% endblock %}

{% block nav %}

{% endblock %}

{% block  content %}
<div class="container">
        <div class="text-center my-5">
            <h1 class="text-success">Создание нового опроса</h1>
        </div>
        <div>
            <form method="post">
                {% include 'partial/form.html' with button_text='Создать' %}
            </form>
        </div>
        <div class="my-3">
            <a class="btn btn-danger w-100" href={% url 'poll_index' %}>Отмена</a>
        </div>
    </div>
{% endblock %}
