{% extends 'base.html' %}

{% block title %}
Опросы
{% endblock %}

{% block content %}
    <header>
        <div class="container text-center text-primary my-5">
            <h1>Опросы</h1>
        </div>
    </header>
    <div class="container">
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 justify-content-center">
            {% for poll in polls %}
                <div class="col my-2">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Опрос № {{ poll.id }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Вопрос: {{ poll.question }}
                            <a href="{% url 'answer_index' poll.pk %}" class="btn btn-warning w-100 my-2">Пройти опрос</a><br>
                            <a href="{% url 'poll_view' poll.pk %}" class="btn btn-success w-100">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}